#### list comprehension:

In [2]:
### without using the list comprehension
nu=[]
for i in range(1,101):
    if(i%3)==0:
        nu.append(i)
print(nu)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

### [item loop condition]

In [3]:
[1 for each in range(10)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [8]:
[each*each for each in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
[each for each in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
[(each) for each in range(1,11) if each%2==0]

[2, 4, 6, 8, 10]

In [12]:
[(each) for each in range(1,11) if each%2!=0]

[1, 3, 5, 7, 9]

In [13]:
students=[['sai',70],['ram',30],['lakshmi',60]]

In [14]:
[ i for i in students if(i[1]>=60)]

[['sai', 70], ['lakshmi', 60]]

In [18]:
students=[['sai',70,1],['ram',30,2],['lakshmi',60,3]]

In [19]:
[ i for i in students if(i[1]>=60 and i[2]<=1)]

[['sai', 70, 1]]

In [ ]:
english=[50,60,70]
maths=[30,40,30]

In [21]:
[i+j for i in range(3) for j in range(3)]

[0, 1, 2, 1, 2, 3, 2, 3, 4]

In [32]:
[(x,y,z) for x in range(1,31) for y in range(x,31) for z in range(y,31) if((x*x)+(y*y))==(z*z)]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (18, 24, 30),
 (20, 21, 29)]

In [43]:
[ str(i)+str(j) for i in range(0,10) for j in range(0,10)]

['00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']

### squares using dictionaries

In [48]:
nu=dict()
for i in range(1,11):
        nu[i]=i*i
print(nu)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

#### dictionary comprehension:

In [51]:
{each:each*each for each in range(1,11) if(each%2==0)}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [54]:
{each:each*each if each%2==0 else each**3 for each in range(1,11)}

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [73]:
names=['sai','ramu']
grades=['a','b']

In [59]:
{i:j for i in names for j in grades}

{'sai': 'b', 'ramu': 'b'}

In [69]:
students={}
for i in range(len(names)):
    name=names[i]
    grade=grades[i]
    students[name]=grade
print(students)

{'sai': 'a', 'ramu': 'b'}

In [71]:
for i in zip(names,grades):
    print(i)

('sai', 'a')
('ramu', 'b')

In [75]:
for name,grade in zip(names,grades):
    print(name,grade)

sai a
ramu b

#### ['name',english,maths]

In [76]:
students=[['sai',30,40],['lakshmi',100,30],['ram',50,60]]